<@- include('../include/_header.ejs',
  {
    data:{
      title:"test",
      // 引入样式，支持 string/array  "css/app.css" ["css/app.css","css/app.css"]
      css:"css/index.css"
    }
  });
 @>
 <style type="text/css">
  .box{
    padding: 0.2rem;
    background: #fff;
    min-height: 3rem;
    border-bottom: #eee 1px solid;
  }
  .path { 
    stroke-dasharray: 20;
    stroke-dashoffset: 10;
    -webkit-animation: dash 5s linear infinite;
    animation: dash 5s linear infinite;
  }
  @-webkit-keyframes dash { 
    to { stroke-dashoffset: 1000; } 
  }
  @keyframes dash { 
    to { stroke-dashoffset: 1000; } 
  }
  .svg3 { width: 300px; display: block; position: absolute; } 
  .svg3 .line1 { stroke-dasharray: 340; stroke-dashoffset: 40; animation: dash3 1.5s linear alternate infinite; } 
  .svg3 .line2 { stroke-dasharray: 320; stroke-dashoffset: 320; animation: dash32 1.5s linear alternate infinite; } 
  @keyframes dash3 { from { stroke-dashoffset: 360; } to { stroke-dashoffset: 40; } } 
  @keyframes dash32 { from { stroke-dashoffset: 280; } to { stroke-dashoffset: -40; } }
 </style>
<body>
  <div id="app">
    <div id="header">{{title}}</div>
    
    <div id="wrapper">
        <div class="scroller">
            <div class="box">
                <svg width="318px" height="272px" viewBox="0 0 318 272"> <path d="M39.5,87.5 C45,81 48.9183868,9.33956041 94.5,4 C140.081613,-1.33956041 104,75.5 205,69.5 C306,63.5 342,112 292,137.5 C242,163 314.5,213.5 302,236 C289.5,258.5 224,193 204.5,203.5 C185,214 160.5,289.5 94.5,262.5 C28.5,235.5 102,231 83.5,188 C65,145 7.5,144.5 4,104.5 C0.5,64.5 34,94 39.5,87.5 Z" class="path" stroke="#000000" stroke-width="6" fill="none"></path> </svg>
            </div>
            <div class="box">
                <svg version="1.0" width="702px" height="26px">
                  <g transform="translate(0.000000,26.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="1px"></g>
                </svg>
            </div>
            <div class="box">
                <svg class="svg3" width="300px" height="175px" version="1.1"> <path fill="transparent" stroke="#000000" stroke-width="4" d="M10 80 Q 77.5 10, 145 80 T 280 80" class="path"></path> <path fill="transparent" stroke="#FF2851" stroke-width="4" d="M10 80 Q 77.5 10, 145 80 T 280 80" class="line2"></path> <path fill="transparent" stroke="#000000" stroke-width="4" d="M10 80 Q 77.5 10, 145 80 T 280 80" class="line1"></path> </svg>
            </div>
            <div class="box">

            </div>
            <div class="box">

            </div>
            <div class="box">

            </div>
            <div class="box">

            </div>
            <div class="box">

            </div>
            <div class="box">

            </div>
            <div class="box">

            </div>
            <div class="box">

            </div>
            <div class="box">

            </div>
        </div>
    </div>

  </div>
<@- include('../include/_footer.ejs',{data:{main:"modules/svg/index"}}); @>